# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/
.mvn/timing.properties
InstitutionPortalTest.iml
allure-report/
buildNumber.properties
dependency-reduced-pom.xml
release.properties
target/